.app-main{
  display: grid;

    grid-template-columns:  240px 1fr;
    grid-template-rows: 80px 1fr 60px;

    min-height: 100vh;
    

}
.app-sidebar{
    grid-column: 1;
    grid-row: 1 / 4;
    position: sticky;
     top: 0;
     max-height: 100vh;
}
.app-header{
  grid-column: 2;
    grid-row: 1;
    position: sticky;
    top:0;
}
#page-content{
    grid-column: 2;
    grid-row: 2;
    padding:30px;
}
footer{
   grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1023px) {
  .app-main {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 60px;
  }

  .app-header,
  #page-content,
  footer {
    grid-column: 1;
  }

  .app-header {
    grid-row: 1;
  }

  #page-content {
    grid-row: 2;
    width: 100%;
    padding: 20px;
  }

  footer {
    grid-row: 3;
  }
}

.h{
  height:200px;
}